DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=prueba_tecnica
DB_USER=root
DB_PASS=

JWT_SECRET=iamdev_super_secret_key_2026_secure_token
JWT_ISSUER=prueba-tecnica
JWT_AUDIENCE=prueba-tecnica-aud
CORS_ALLOW_ORIGIN=*
CORS_ALLOW_HEADERS=Content-Type, Authorization, X-Requested-With
CORS_ALLOW_METHODS=GET,POST,PUT,PATCH,DELETE,OPTIONS
CORS_ALLOW_CREDENTIALS=true
